*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: aliceblue;
    color: #555555;
    font: 'Lato', 'arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

.message{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}